# npm
node_modules
package-lock.json
*.log
*.gz

*.swp
.~
project.lock.json
.DS_Store
*.pyc
nupkg/

# dependencies
/node_modules
/.pnp
.pnp.js
.DS_Store

api/env/*
Build_Instructions.txt
.DS_Store
api/Models/Trained_Models/NB_Bernoulli.sav
api/Models/Trained_Models/NB_Complement.sav
api/Models/Trained_Models/NB_Multinomial.sav
api/Models/Trained_Models/archive/NB_Complement.sav
